.about-container {
    height: 184vh;
    width: 100%;
    z-index: 1;
    position: relative;
    background-color: #000F38;
}

.about-heading {
    font-family: Formular;
    font-size: 7.3vw;
    color: #FFFFFF;
    z-index: 1;
    top: 18%;
    left: 2%;
    position: absolute;
    text-align: left;
}

.text-1 {
    font-family: Formular;
    font-size: 2vw;
    color: #FFFFFF;
    letter-spacing: 0;
    z-index: 1;
    top: 27%;
    left: 2%;
    position: absolute;
    text-align: left;
}

.text-2 {
    font-family: Formular;
    font-size: 1.4vw;
    color: #787878;
    letter-spacing: 0;
    width: 62%;
    z-index: 1;
    top: 31.5%;
    left: 2%;
    position: absolute;
    text-align: left;
}

.cv-1 {
    width: 30%;
    height: 33%;
    z-index: 1;
    top: 41%;
    left: 2%;
    position: absolute;
    background-repeat: no-repeat;
}

.cv-2 {
    width: 30%;
    height: 33%;
    z-index: 1;
    top: 41%;
    left: 35%;
    position: absolute;
    background-repeat: no-repeat;

}

.cv-3 {
    width: 30%;
    height: 33%;
    z-index: 1;
    top: 41%;
    left: 68%;
    position: absolute;
    background-repeat: no-repeat;
}