* {
  box-sizing: border-box !important;
}
.App {
  text-align: center;
}

.GridBG {
  background-image: url("/public/Grid/grid-Cell-Sub.svg");
  background-position: right 162px center;
  height: 100vh;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 80px;
  position: absolute;
}

.WrapperBox {
  position: relative;
}

.ContentBox {
  position: relative;
  z-index: 1;
}

.ColorWhite {
  color: white;
}

.AboutBox {
  color: white;
  background-color: #002a99;
  padding: 50px;
}

.ExamplesBox {
  padding: 50px;
}

.PricingBox {
  padding: 100px 50px;
  background-color: #0046ff;
  color: white;
  text-align: left;
}

.PricingBox h2 {
  padding: 10px;
}

.TextAlignRight {
  text-align: right;
}

.AboutBoxContent {
  text-align: left;
}

.ExamplesBoxContent {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.navigation {
  padding: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}

.navigation a:visited,
.navigation a:active,
.navigation a:focus {
  color: black;
}

.header {
  position: relative;
  z-index: 2;
  background-color: white;
  border-bottom: #dfdfdf 2px solid;
}

.header img {
  padding: 10px;
  width: auto;
  height: 80px;
}

.navigation a:visited {
  text-decoration: none;
  margin: 10px 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {}

.color-black {
  color: #000f38;
}

.color-navy-blue {
  color: #002a99;
}

.color-blue {
  color: #0046ff;
}

.color-purple {
  color: #a7bfff;
}

.color-red {
  color: #ff4b00;
}

.color-yellow-dark {
  color: #ffa500;
}

.color-yellow {
  color: #ffcf00;
}

.color-black {
  color: #000f38;
}

.contact-container {
  height: 320px;
  width: 100%;
  z-index: 1;
  top: 8164px;
  left: 0px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0046ff;
}

.contact-email-wrapper {
  text-align: left;
}

.contact-email-wrapper p {
  padding-left: 56%;
}

.contact-email-wrapper-first {
  font-size: 24px;
  color: #A7BFFF;
}

.contact-email-wrapper-second {
  font-size: 24px;
  color: white;
}

.social-links {
  display: flex;
  align-items: center;
  color: #A7BFFF;
}

.copyright {
  color: #A7BFFF;
  display: flex;
  align-items: center;
}

.social-links svg {
  margin: 16px;
}

.social-links p {
  color: #787878;
  font-size: 14px;
  padding-left: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .horizontal-grid-line-1 {
  background-image: url("/public/Grid/H-Grid-line.svg");
  height: 1px;
  width: 100%;
  z-index: 1;
  top: 313.5px;
  left: 0px;
  position: absolute;
  opacity: 0.3;
}

.horizontal-grid-line-2 {
  background-image: url("/public/Grid/H-Grid-line.svg");
  height: 1px;
  width: 100%;
  z-index: 1;
  top: 627.5px;
  left: 0px;
  position: absolute;
  opacity: 0.3;
}

.horizontal-grid-line-3 {
  background-image: url("/public/Grid/H-Grid-line.svg");
  height: 1px;
  width: 100%;
  z-index: 1;
  top: 941.5px;
  left: 0px;
  position: absolute;
  opacity: 0.3;
}

.horizontal-grid-line-4 {
  background-image: url("/public/Grid/H-Grid-line.svg");
  height: 1px;
  width: 100%;
  z-index: 1;
  top: 1255px;
  left: 0px;
  position: absolute;
  opacity: 0.3;
}

.horizontal-grid-line-5 {
  background-image: url("/public/Grid/H-Grid-line.svg");
  height: 1px;
  width: 100%;
  z-index: 1;
  top: 1569.5px;
  left: 0px;
  position: absolute;
  opacity: 0.3;
}


.vertical-grid-line-1 {
  background-image: url("/public/Grid/V-Grid-line.svg");
  height: 100%;
  width: 1px;
  z-index: 1;
  top: 0px;
  left: 17.5px;
  position: absolute;
  opacity: 0.3;
}

.vertical-grid-line-2 {
  background-image: url("/public/Grid/V-Grid-line.svg");
  height: 100%;
  width: 1px;
  z-index: 1;
  top: 0px;
  left: 331.5px;
  position: absolute;
  opacity: 0.3;
}

.vertical-grid-line-3 {
  background-image: url("/public/Grid/V-Grid-line.svg");
  height: 100%;
  width: 1px;
  z-index: 1;
  top: 0px;
  left: 645.5px;
  position: absolute;
  opacity: 0.3;
}

.vertical-grid-line-4 {
  background-image: url("/public/Grid/V-Grid-line.svg");
  height: 100%;
  width: 1px;
  z-index: 1;
  top: 0px;
  left: 959.5px;
  position: absolute;
  opacity: 0.3;
}

.vertical-grid-line-5 {
  background-image: url("/public/Grid/V-Grid-line.svg");
  height: 100%;
  width: 1px;
  z-index: 1;
  top: 0px;
  left: 1273.5px;
  position: absolute;
  opacity: 0.3;
}

.vertical-grid-line-6 {
  background-image: url("/public/Grid/V-Grid-line.svg");
  height: 100%;
  width: 1px;
  z-index: 1;
  top: 0px;
  left: 1587.5px;
  position: absolute;
  opacity: 0.3;
}

.vertical-grid-line-7 {
  background-image: url("/public/Grid/V-Grid-line.svg");
  height: 100%;
  width: 1px;
  z-index: 1;
  top: 0px;
  left: 1901.5px;
  position: absolute;
  opacity: 0.3;
} */