.App {
  text-align: center;
}

.GridBG {
  background-image: url("/public/Grid/grid-Cell-Sub.svg");
  background-position: right 162px center;
  height: 100vh;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  margin-top: 80px;
  position: absolute;
}

.WrapperBox {
  position: relative;
}

.ContentBox {
  position: relative;
  z-index: 1;
}

.ColorWhite {
  color: white;
}

.AboutBox {
  color: white;
  background-color: #002a99;
  padding: 50px;
}

.ExamplesBox {
  padding: 50px;
}

.PricingBox {
  padding: 100px 50px;
  background-color: #0046ff;
  color: white;
  text-align: left;
}

.PricingBox h2 {
  padding: 10px;
}

.TextAlignRight {
  text-align: right;
}

.AboutBoxContent {
  text-align: left;
}

.ExamplesBoxContent {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.navigation {
  padding: 20px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  padding: 10px 20px;
  color: black;
}

.navigation a:visited,
.navigation a:active,
.navigation a:focus {
  color: black;
}

.header {
  position: relative;
  z-index: 2;
  background-color: white;
  border-bottom: #dfdfdf 2px solid;
}

.header img {
  padding: 10px;
  width: auto;
  height: 80px;
}

.navigation a:visited {
  text-decoration: none;
  margin: 10px 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-footer {}

.color-black {
  color: #000f38;
}

.color-navy-blue {
  color: #002a99;
}

.color-blue {
  color: #0046ff;
}

.color-purple {
  color: #a7bfff;
}

.color-red {
  color: #ff4b00;
}

.color-yellow-dark {
  color: #ffa500;
}

.color-yellow {
  color: #ffcf00;
}

.color-black {
  color: #000f38;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}