.featuresContainer {
    height: 184vh;
    width: 100%;
    position: relative;
}

.feature {
    z-index: 1;
}

.featuresGridWrapper {
    padding: 0 1%;
}

.featuresGridItem {
    padding: 1%;
    height: 30.6vh;
}

.graph2 {
    background-image: url("/public/Graph-2.svg");
    top: 41.3%;
    left: 49.2%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 5;
    width: 50.7%;
    height: 108vh;
}