.featuresContainer {
    background-image: url("/public/Grid/Grid-Module-6x6.svg");
    height: 1884px;
    width: 1920px;
    top: 1884px;
    left: 0;
    position: absolute; 
}

.feature1 {
    height: 316px;
    width: 628px;
    z-index: 1;
    top: 0px;
    left: 17px;
    position: absolute;  
}

.feature2 {
    height: 346px;
    width: 628px;
    z-index: 1;
    top: 0px;
    left: 645px;
    position: absolute;  
}

.feature3 {
    height: 316px;
    width: 628px;
    z-index: 1;
    top: 0px;
    left: 1273px;
    position: absolute;  
}

.feature4 {
    height: 316px;
    width: 628px;
    z-index: 1;
    top: 345px;
    left: 17px;
    position: absolute;  
}

.feature5 {
    height: 316px;
    width: 628px;
    z-index: 1;
    top: 345px;
    left: 643px;
    position: absolute;  
}

.feature6 {
    height: 316px;
    width: 628px;
    z-index: 1;
    top: 345px;
    left: 1273px;
    position: absolute;  
}

.feature7 {
    height: 316px;
    width: 628px;
    z-index: 1;
    top: 661px;
    left: 17px;
    position: absolute;  
}

.graph2 {
    background-image: url("/public/Graph-2.svg");
    top: 785px;
    left: 960px;
    position: absolute; 
    background-repeat: no-repeat;
    z-index: 5;
    width: 942px;
    height: 1098.95px;
}