.featureDot {
    display: inline-block;
    z-index: 1;
    width: 1.2vw;
    height: auto;
}

.featureHeading {
    width: 80%;
    z-index: 1;
    font-size: 1.4vw;
    font-family: 'Formular';
    color: #000000;
    text-align: left;
    padding-left: 2%;
    display: inline-block;
}

.featureText {
    width: 70%;
    z-index: 1;
    font-size: 1.1vw;
    font-family: 'Formular';
    color: #787878;
    text-align: left;
    padding-left: 6%;
}