.featureDot {
    background-image: url("/public/feature-dot.png");
    height: 22px;
    width: 22px;
    z-index: 1;
}

.featureHeading {
    height: 32px;
    width: 80%;
    z-index: 1;
    font-size: 32px;
    font-family: 'Formular';
    color: #000000;
    text-align: left;
}

.featureText {
    height: 215px;
    width: 70%;
    z-index: 1;
    font-size: 24px;
    font-family: 'Formular';
    color: #787878;
    text-align: left;
}