.profile-container {
    width: 70%;
    z-index: 1;
    position: absolute;
    text-align: left;
}

.profile-picture {
    width: 7.6vw;
    height: 7.6vw;
    text-align: left;
}

.profile-name {
    width: 100%;
    color: white;
    font-family: Formular;
    font-size: 1.8vw;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    margin-top: 7%;
}

.profile-text {
    left: 18px;
    width: 100%;
    color: white;
    font-family: Formular;
    font-size: 1.3vw;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: left;
    margin-top: 7%;
}

.social-1 {
    background-image: url("/public/social/github.svg");
    left: 18px;
    top: 502px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.social-2 {
    background-image: url("/public/social/insta.svg");
    left: 56px;
    top: 502px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.social-3 {
    background-image: url("/public/social/linkedin.svg");
    left: 94px;
    top: 502px;
    width: 24px;
    height: 24px;
    position: absolute;
}

.social-4 {
    background-image: url("/public/social/medium.svg");
    left: 132px;
    top: 502px;
    width: 24px;
    height: 24px;
    position: absolute;
}